// 변수 설정
$bg-light: rgb(247, 250, 252);
$bg-dark: rgb(31, 39, 51);
$bg-footer-dark: rgb(26, 32, 44);
$card-border-radius: 15px;
$max-width-container: 880px;
$avatar-max-size: 225px;
$avatar-max-size-about: 200px;

// Body 배경 설정
body {
  background-color: $bg-light;
}

.dark body {
  background-color: $bg-dark;
}

// Article Container 스타일
.article-container {
  background-color: #fff;
  border-radius: $card-border-radius;
}

.dark .article-container {
  background-color: $bg-dark;
}

// Custom Footer Color
.page-footer {
  background-color: $bg-light;
}

.dark .page-footer {
  background-color: $bg-footer-dark;
}

// 카드 스타일 및 마진
.card-simple {
  margin-top: 1.8rem;
  border-radius: $card-border-radius;
}

.dark .card-simple {
  background: $bg-dark;
}

// Navbar의 그림자 제거
.navbar {
  box-shadow: none !important; // 'important'로 모든 모드에서 그림자 제거
}

// 홈 섹션 패딩 설정
.home-section {
  padding: 1rem 0;

  &.wg-about-avatar {
    padding: 0;
  }

  > .content {
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;

    > :last-child {
      margin-bottom: 0;
    }
  }

  header {
    margin-bottom: 1em;
  }
}

// 반응형 설정
@media (min-width: 1200px), (min-width: 992px) {
  .home-section .container {
    max-width: $max-width-container;
  }
}

// Avatar 크기 설정
.avatar {
  width: auto;
  height: auto;
  max-width: $avatar-max-size;
  max-height: $avatar-max-size;
}

// About 페이지의 Avatar 크기 설정
.wg-about .avatar {
  width: auto;
  height: auto;
  max-width: $avatar-max-size-about;
  max-height: $avatar-max-size-about;
}

// About 페이지의 텍스트 크기 설정
.wg-about .portrait-title {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}

// Dark mode의 텍스트 색상 설정
.dark .portrait-title {
  h2 {
    color: #fff;
    font-weight: bold;
  }

  h3 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
  }
}

// 네트워크 아이콘 설정
#profile .network-icon {
  margin-top: 0.5rem;
}

ul.network-icon .big-icon {
  font-size: 1.5rem;
}
